{% extends "header.html" %}
{% block body %}
<body>
  <h3>Register</h3>
  {%  from "_formhelpers.html" import render_field %}
  <form method=post action="/register/">
  <dl>
    {{render_field(form.username)}}
    {{render_field(form.email)}}
    {{render_field(form.password)}}
    {{render_field(form.confirm)}}
  </dl>
  <p><input type=submit value=Register></p>
</form>
</body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
